<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525502946293-9vkptt776t255qh1sv8vekvmumslf8fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525502946293-9vkptt776t255qh1sv8vekvmumslf8fj</string>
	<key>API_KEY</key>
	<string>AIzaSyDvnQVKfMVEnwCqgIpwyi1P2fkJ3ej4ZlE</string>
	<key>GCM_SENDER_ID</key>
	<string>525502946293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gimmic</string>
	<key>PROJECT_ID</key>
	<string>gimmic-gyudon</string>
	<key>STORAGE_BUCKET</key>
	<string>gimmic-gyudon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525502946293:ios:57faba9e5024a4bcaa9ebc</string>
</dict>
</plist>